*{
    padding: 0;
    margin:0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-weight: 600; */
}
.course{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{

    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}
.myh3{
    text-align:center;
    font-weight: 600;
    margin: 10px 0px;
}
.course-col:hover{
box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    .campusrow{
        flex-direction: column;
    }
}
.campus{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
.campusrow{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.campus-col{
    flex-basis:32%;
    border-radius:10px;
    margin-bottom:30px;
    position:relative;
    overflow:hidden;
}
.campus-col img{
    /* border-radius: 10px; */
    display: block;
    width:100%;
}
.layer{
    background-color:transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition:0.5s;
}
.layer:hover{
   background-color: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight:500;
    color:#fff;
    font-size:26px;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    transition: 0.5s;
    opacity:0;
}
.layer:hover h3{
    opacity: 1;
    bottom:49%;
}
